.hidden {
    display: none;
}

.svg-container{
    width: 70%;
}


#main_logo_img:hover{
    transform: scale(1.2);
    filter: invert(90%);
}

#main_logo_img{
    padding: 50px;
    width: 320px;
    transition: all 0.7s ease;
}

#grey_logo {
    padding: 10px;
    width: 400px;
}

#grey_logo:hover {
    transform: scale(1.5);
}

#logo_grapefruit, #logo_pineapple, #logo_orange, #logo_passionfruit {
    width: 300px;
}


